%flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.navbar {
    @extend %flex;
    color: blue;
    font-size: 2rem;
}

div{
    @extend %flex;
    color: red;
}

header {
    @extend %flex;
}