$display: (
    //Clave - Valor
    /* color-uno: blue,
    color-dos: red,
    bg-color: red, */
    tamano-fuente: 16px,
    
);

body {
    font-size: map-get($display , tamano-fuente);
    margin: 10px;
}

